.root {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &DeleteButton {
        color: red;
    }
}