html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

input {
    border: none;
    outline: none;
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-wrapper {
    padding: 40px 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.completed {
    text-decoration: line-through;
}
